<div class="navbar">
  <div class="logo-container">
    <div class="mi mi-24 menu-container-option"></div>
    <div class="logo"></div>
  </div>
  <div class="navbar-content">
    <app-baserouterlink
      [routerInfo]="routerInfo.Dashboard"
    >
    </app-baserouterlink>
    <app-baserouterlink
      [routerInfo]="routerInfo.Cash"
    >
    </app-baserouterlink>
    <app-baserouterlink
      [routerInfo]="routerInfo.Bank"
    >
    </app-baserouterlink>
    <app-baserouterlink
      [routerInfo]="routerInfo.Pu"
    >
    </app-baserouterlink>
    <app-baserouterlink
      [routerInfo]="routerInfo.Customer"
    >
    </app-baserouterlink>
    <app-baserouterlink
      [routerInfo]="routerInfo.Sale"
    >
    </app-baserouterlink>
    <app-baserouterlink
      [routerInfo]="routerInfo.Invoice"
    >
    </app-baserouterlink>
  </div>
</div>