<div class="header">
  <div class="logo-site">
    <!-- BaseTrigger  -->
  </div>
  <div class="account-info">
    <div class="notify">
      <div class="mi mi-24 mi-bell__nav">
        <div class="notify-container">
          <span class="notify-content">2</span>
        </div>
      </div>
    </div>
    <div class="account-avatar"></div>
    <div class="account-name">Hoàng Hải Đăng</div>
    <div class="account-option">
      <div class="mi mi-14 mi-chevron-down"></div>
    </div>
  </div>
</div>